// Media Query

@mixin device($device) {
  @if $device == tablet {
    @media (min-width: 700px) {
      @content;
    }
  }  
  @else if $device == desktop {
    @media (min-width: 75rem) {
      @content;
    }
  }
}

// Colors
$neutral-color-1: #FFFFFF;
$neutral-color-2: #E0F1E8;
$color1: #2A4144;
$color2: #0C7D69;
$color3: #86A2A5;



//Typography
$fonts: (
  "$medium": 18px,
);


// Utility Classes
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}