@import './utils/utilities';

@font-face {
  font-family: "Karla";
  src: url(../../assets/fonts/Karla-VariableFont_wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

// CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button, fieldset {
  border: none;
}

body {
  min-height: 100vh;
  font-family: "Karla";
  background-color: $neutral-color-2;
  padding: 2rem 1rem;
  @include device(tablet) {
    padding: 8rem 2.4375rem;
  }
}

.container__main {
  background-color: $neutral-color-1;
  border-radius: 16px;
  padding: 1.5rem;
  position: relative;
  @include device(tablet) {
    padding: 2.5rem;
    max-width: 43.125rem;
    margin: 0 auto;
  }
  @include device(desktop) {
    max-width: 46rem;
  }
}

.form__title {
  margin-bottom: 2rem;
  color: $color1;
}

input, textarea {
  display: block;
  border: 1px solid $color3;
  border-radius: 8px;
  width: 100%;
  padding: 0.75rem 1.5rem;
  accent-color: $color2;
  &:hover {
    cursor: pointer;
    border-color: $color2;
  }
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid $color2;
}

.name__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 16px;
  .error-msg {
    grid-row: 3;
  }
}

.first-name,
.last-name {
  @include device(tablet) {
    display: inline-block;
    
  }
}

.query-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 16px;
  label {
    margin-bottom: initial;
    display: flex;
    gap: 12px;
    border: 1px solid $color3;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: map-get($fonts, "$medium");
    &:hover {
      cursor: pointer;
      border-color: $color2;
    }
  }
  .form__group {
    margin-bottom: initial;
  }
  .error-msg {
    grid-column: 1 / -1;
    grid-row: 2;
    margin-top: 1rem;
  }
  input {
    display: inline-block;
    width: initial;
  }
}


.form__group {
  position: relative;
  margin-bottom: 1.5rem;
}

.message,
.consent-container {
  margin-bottom: 2.5rem;
}

label, legend {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #2A4144;
  line-height: 1.5;
  &:hover {
    cursor: pointer;
  }
}

label:not(.query-type label)::after,
legend::after {
  content: "*";
  margin-left: 0.5rem;
  color: $color2;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: initial;
  input {
    width: initial;
    margin-right: 1rem;
  }
}

.form__btn {
  width: 100%;
  background: $color2;
  padding: 1.25rem 0;
  border-radius: 8px;
  color: $neutral-color-1;
  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient($color2, $color2);
    cursor: pointer;
  }
}

.error-msg {
  margin-top: 0.5rem;
  color: #D73C3C;

}

.success-msg {
  color: $neutral-color-1;
  background-color: $color1;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.5rem;
  border-radius: 12px;
  width: 20.4375rem;
  line-height: 1.5;
  display: none;
  @include device(tablet) {
    width: 28.125rem;
    top: -6.5rem;
  }
  .success__title-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0.5rem;
    
  }
  .success__title {
    font-size: map-get($fonts, "$medium");
  }

  .success__text {
    color: #E0F1E8;
  }
}

