@charset "UTF-8";
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@font-face {
  font-family: "Karla";
  src: url(../../assets/fonts/Karla-VariableFont_wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button, fieldset {
  border: none;
}

body {
  min-height: 100vh;
  font-family: "Karla";
  background-color: #E0F1E8;
  padding: 32px 16px;
}
@media (min-width: 700px) {
  body {
    padding: 128px 39px;
  }
}

.container__main {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 24px;
  position: relative;
}
@media (min-width: 700px) {
  .container__main {
    padding: 40px;
    max-width: 690px;
    margin: 0 auto;
  }
}
@media (min-width: 75rem) {
  .container__main {
    max-width: 736px;
  }
}

.form__title {
  margin-bottom: 32px;
  color: #2A4144;
}

input, textarea {
  display: block;
  border: 1px solid #86A2A5;
  border-radius: 8px;
  width: 100%;
  padding: 12px 24px;
  accent-color: #0C7D69;
}
input:hover, textarea:hover {
  cursor: pointer;
  border-color: #0C7D69;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #0C7D69;
}

@media (min-width: 700px) {
  .first-name,
  .last-name {
    display: inline-block;
    width: calc(50% - 10px); /* Cada div ocupa metade da largura da div pai com espaço entre elas */
  }
}

.first-name {
  margin-right: 16px;
}

.query-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 16px;
}
.query-type label {
  margin-bottom: initial;
  display: flex;
  gap: 12px;
  border: 1px solid #86A2A5;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 18px;
}
.query-type label:hover {
  cursor: pointer;
  border-color: #0C7D69;
}
.query-type .form__group {
  margin-bottom: initial;
}
.query-type .error-msg {
  grid-column: 1/-1;
  grid-row: 2;
  margin-top: 16px;
}
.query-type input {
  display: inline-block;
  width: initial;
}

.form__group {
  position: relative;
  margin-bottom: 24px;
}

.message,
.consent-container {
  margin-bottom: 40px;
}

label, legend {
  display: inline-block;
  margin-bottom: 8px;
  color: #2A4144;
  line-height: 1.5;
}
label:hover, legend:hover {
  cursor: pointer;
}

label:not(.query-type label)::after,
legend::after {
  content: "*";
  margin-left: 8px;
  color: #0C7D69;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: initial;
}
.checkbox input {
  width: initial;
  margin-right: 16px;
}

.form__btn {
  width: 100%;
  background: #0C7D69;
  padding: 20px 0;
  border-radius: 8px;
  color: #FFFFFF;
}
.form__btn:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(#0C7D69, #0C7D69);
  cursor: pointer;
}

.error-msg {
  margin-top: 8px;
  color: #D73C3C;
}

.success-msg {
  color: #FFFFFF;
  background-color: #2A4144;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 24px;
  border-radius: 12px;
  width: 327px;
  line-height: 1.5;
}
@media (min-width: 700px) {
  .success-msg {
    width: 450px;
    top: -104px;
  }
}
.success-msg .success__title-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.success-msg .success__title {
  font-size: 18px;
}
.success-msg .success__text {
  color: #E0F1E8;
}/*# sourceMappingURL=style.css.map */