@import './utils/utilities';

@font-face {
  font-family: "Karla";
  src: url(../../assets/fonts/Karla-VariableFont_wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

// CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button, fieldset {
  border: none;
}

body {
  min-height: 100vh;
  font-family: "Karla";
  background-color: #E0F1E8;
  padding: 32px 16px;
  @include device(tablet) {
    padding: 32px 0;
  }
}

.container__main {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 24px;
  @include device(tablet) {
    padding: 40px;
    max-width: 690px;
    margin: 0 auto;
  }
  @include device(desktop) {
    max-width: 736px;
  }
}

.form__title {
  margin-bottom: 32px;
}

input, textarea {
  display: block;
  border: 1px solid #86A2A5;
  border-radius: 8px;
  width: 100%;
  padding: 12px 24px;
  accent-color: #0C7D69;
}

.query-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 16px;
  label {
    margin-bottom: initial;
    display: flex;
    gap: 12px;
    border: 1px solid #86A2A5;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 18px;
  }
  .form__group {
    margin-bottom: initial;
  }
  .error-msg {
    grid-column: 1 / -1;
  }
  input {
    display: inline-block;
    width: initial;
  }
}


.form__group {
  position: relative;
  margin-bottom: 24px;
}

.message,
.consent-container {
  margin-bottom: 40px;
}

label, legend {
  display: inline-block;
  margin-bottom: 8px;
  color: #2A4144;
  line-height: 1.5;
}

label:not(.query-type label)::after,
legend::after {
  content: "*";
  margin-left: 8px;
  color: #0C7D69;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: initial;
  input {
    width: initial;
    margin-right: 16px;
  }
}

.form__btn {
  width: 100%;
  background-color: #0C7D69;
  padding: 20px 0;
  border-radius: 8px;
  color: #FFFFFF;
}

.error-msg {
  margin-top: 8px;
  color: #D73C3C;
}

.success-msg {
  display: none;
}

